/* Header*/
.header{
    height: 120px;    
    background-color:var(--main-color) ;
    display: flex;
    align-items: center;
}
.header .grid{
    display: flex;
    gap: 2rem;
}
.logo_link{
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;    
}
.header_logo h1{
    width: auto;
    font-size: 4rem;
}

.header_search{
    flex: 1;
    height: inherit;
    margin: 1rem auto;
    background-color: var(--white-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_input{
    flex:1;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: inherit;
    padding: 0 16px;
    color: var(--text-color);
    height: 100%;
}
.search_btn{
    border: none;
    background-color: var(--main-color);
    height: 90%;
    width: 6rem;
    border-radius: inherit;
    margin: auto 0.25rem;
    outline: none;
}
.search_btn:hover{
    cursor: pointer;
    background-color:var(--point-color) ;
}
.search_icon{
    font-size: 2rem;
    color: var(--white-color);
}

.header_cart{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_wrapper{
    height: 80%;
    position: relative;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.cart_wrapper:hover .cart_list{
    display: flex;
}
.cart_icon{
    font-size: 3rem;
    color: var(--white-color);    
}
.cart_number{
    top: 0.2rem;
    right: 1.2rem;
}
.cart_list{
    position: absolute;
    background-color: #fdfdfd;
    top: 100%;
    right: 0;
    width: 40rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3.125rem rgba(0, 0 , 0, 0.2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.cart_list::after{
    content: "";
    position: absolute;
    right: 1.2rem;
    top: -30px;
    border-width: 2rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.cart_list_heading{
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    margin-bottom: 0;
}
.cart_list_items{
    padding-left: 0;
    list-style: none;
    width: 100%;
}
.cart_item{
    display: flex;
    align-items: center;
}
.cart_item:hover{
    background-color: #f8f8f8;
}
.cart_item_img{
    width: 4.2rem;
    height: 4.2rem;
    flex-shrink: 0;
    margin: 1.2rem;
    border: 1px solid #e8e8e8;
}
.cart_item_info{
    width: 100%;
    margin-right: 12px;
}
.cart_item_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart_item_name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.cart_item_price{
    font-size: 1.4rem;
    color: var(--main-color);
}
.cart_item_multiply{
    font-size: 1rem;
    color: #757575;
    margin: 0 4px;
}
.cart_item_qnt{
    font-size: 1.2rem;
    color: #757575;
}
.cart_item_body{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.cart_item_description{
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}
.cart_item_remove{
    font-size: 1.4rem;
    color: var(--text-color);
}
.cart_item_remove:hover{
    color: var(--main-color);
    cursor: pointer;
}
.total{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
}
.total_heading{
    font-size: 1.4rem;
    font-weight: 500;
}
.total_price{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 10px;
}
.btn_view-cart{
    background-color: var(--main-color);
    color: var(--white-color);
    align-self: flex-end;
    margin: 0 12px 10px 0;
    box-shadow: 0 1px 5px rgba(0, 0 , 0, 0.2);
}
.btn_view-cart:hover{
    background-color: var(--point-color);
}
.cart_list_no-cart .no_cart_img,
.cart_list_no-cart .no_cart_msg{
    display: flex;
}
.no_cart_img{
    width: 60%;
    display: none;
}
.no_cart_msg{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 1rem 0 2.5rem 0;
    display: none;
}

.header_notification{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification_icon{
    font-size: 3rem;
    color: var(--white-color);
}
.notification_number{
    top: 0.4rem;
    right: 1.5rem;
}
.notification_list{
    position: absolute;
    background-color: #fdfdfd;
    top: 100%;
    right: 0;
    width: 40rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3.125rem rgba(0, 0 , 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}
.notification_list::after{
    content: "";
    position: absolute;
    right: 1.2rem;
    top: -30px;
    border-width: 2rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.no_notification .no_notification_img,
.no_notification .no_notification_msg{
    display: flex;
}
.notification_wrapper:hover .notification_list{
    display: flex;
}
.no_notification_img{
    width: 60%;
    display: none;
}
.no_notification_msg{
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 1rem 0 2.5rem 0;
    display: none;
}
.notification_list_heading{
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    margin-bottom: 0;
}
.notification_list_item{
    list-style: none; 
    padding: 0;   
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#e8e8e8;        
}
.notification_item{
    padding: 10px;
}
.notification_confirm_item .btn_confirm{
    display: block;
}
.notification_watched{
    background-color: #fdfdfd;
}
.notification_info{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.btn_confirm{
    justify-self: flex-end;
    background-color: var(--main-color);
    color: var(--white-color);
    display: none;
}
.btn_confirm:hover{
    background-color: var(--point-color);
}
.view_notification{
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}
/* Container */
.container{
    background-color: #f5f5f5;
}
.app_content{
    padding-top: 36px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category_heading{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 8px 16px;    
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
    cursor: pointer;
}
.category_heading_icon{
    font-size: 1.6rem;
    margin-right: 4px;
}
.category_list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}
.category_item_active::before{
    content: "";
    position: absolute;
    border:4px solid;
    border-color: transparent transparent transparent var(--main-color);
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}
.category_item{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px;
    display: block;
    cursor: pointer;
}
.category_item:hover{
    color: var(--main-color);
}
.category_item_active{
    color:var(--main-color);
    
}

/* Sort + filter */
.filter{
    background-color: rgba(0, 0 , 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;    
}
.filter_title{
    font-size: 1.4rem;
    color:#555;
    margin-right: 16px;
}
.filter_btn{
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}
.select_input_label{
    font-size: 1.4rem;
}
.select_input_icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);   
    position: relative;
    top: 1px;
}
.filter_page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.filter_page_num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.page_current{
    color: var(--main-color);
}
.page_control{
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;
    overflow: hidden;
}
.page_btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.page_btn_disable{
    cursor: default;
    background-color: #f9f9f9;
}
.page_btn_disable .page_icon{
    color: #ccc;
}
.page_btn:first-child{
    border-right: 1px solid #eee;
}
.page_icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.product .grid__row{
    margin-left: 0;
    margin-top: 10px;
}
.product_item{
    display: block;
    text-decoration: none;
    background-color: var(--white-color); 
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;   
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    margin-bottom: 10px;
    cursor: pointer;
}
.product_item:hover{
    transform:translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.product_item_img{
    padding-top: 100%;    
    background-repeat: no-repeat;
    background-size: contain;    
    background-position: center;
    position: relative;
    border-bottom: 1px solid #ccc;    
}
.product_item_name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;    
    height: 3.6rem;
    margin: 10px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.item_price{
    display: flex;
}
.price{
    font-size: 1.6rem;
    color: var(--main-color);
    margin: 10px;
}

/* Ordered */
.grid_ordered{
    display: none;
}
.ordered_list{
    background-color: var(--white-color);
}
.ordered_item{
    display: flex;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
}
.ordered_item_img{
    width: 200px;
    height: 150px;
    margin: 10px;
    border: 1px solid #e8e8e8;
}
.ordered_item_content{
    width: 100%;
    margin: 10px 10px 10px 0;
}
.ordered_item_head{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.ordered_item_name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.ordered_item_price,.ordered_item_qnt{
    font-size: 1.4rem;
}
.ordered_item_multiply{
    font-size: 1rem;
    color: #757575;
    margin: 0 4px;
}
.ordered_item_body{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}
.ordered_item_description{
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
    align-self: flex-end;
}
.ordered_item_reduce_qnt{
    display: flex;
    flex-direction: column;
}
.reduce_qnt_wrapper{
    display: flex;
}
.reduce_qnt_name{
    font-size: 1.4rem;
}
.reduce_qnt_icon{
    cursor: pointer;
    font-size: 1.4rem;    
    margin: 0 5px;
}
.icon_disable{
    color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}
.reduce_qnt_quanity{
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    width: 30px;
    height: 100%;
    text-align: center;
    outline: none;
    font-size: 1.4rem;
}
.reduce_qnt_confirm-btn{
    margin-top: 10px;
}
.ordered_item_foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ordered_item_notice{
    font-size: 1.4rem;
    padding-right: 10px;
}
.ordered_item_remove,.reduce_qnt_confirm-btn,.pay_btn{
    width: 165px;
    background-color: var(--main-color);
    color: var(--white-color);
}
.ordered_item_remove:hover,.reduce_qnt_confirm-btn:hover,.pay_btn:hover{
    background-color: var(--point-color);
}
.pay{
    background-color: var(--white-color);
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
.pay_heading{
    display: flex;
    padding: 10px;
}
.pay_total_head{
    font-size: 1.4rem;
    margin: 0 10px 0 0;
}
.pay_total_price{
    font-size: 1.4rem;
}
.pay_btn{
    margin: 10px;
}
/* Modal pay */
.pay_form{
    padding: 10px;
    display: none;
}
.pay_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.pay_title{
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-color);
}
.close_icon{
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
}
.pay_select_title{
    font-size: 1.4rem;
    font-weight: 400;   
    margin: 10px 0;
}
.pay_select_form label{    
    display: flex;    
    align-items: center;    
    font-size: 1.4rem;
    gap: 5px;
    margin: 10px 20px;
}
.discount_title{
    font-size: 1.4rem;
}
.discount_code{
    font-size: 1.4rem;
    margin : 5px 10px;
    outline: none;
    padding: 5px;
}
.discount_btn{
    background-color: var(--main-color);
    color: var(--white-color);
}
.pay_temporary, .pay_total{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 0;
    background-color: #eee;
    padding: 5px;
}
.temporary_title,.total_title{
    font-weight: 500;
}
.pay_confirm_btn{
    width: 100%;
    margin: 10px 0;
    background-color: var(--main-color);
    color: var(--white-color);
}
.pay_confirm_btn:hover,.discount_btn:hover{
    background-color: var(--point-color);
}

/* Detail product */
.detail_product{
    padding: 10px;
    display: none;
    flex-direction: column;
}
.detail_close_icon{
    margin-left: auto;
}
.item_name{
    margin: 10px 0;
    font-size: 2.5rem;
    color: var(--text-color);

}
.item_img{
    height: 500px;
    width: 500px;
    object-fit: contain;    
    border: 1px solid #f8f8f8;
    border-radius: 5px;
}
.item_description{
    font-size: 1.4rem;
    margin: 10px 0;
    color: var(--text-color);
    font-style: italic;
}
.item_price_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_price_detail{
    font-size: 1.6rem;
    color: var(--main-color);
    margin: 10px 0;
    padding: 0;
}
.detail_icon{
    font-size: 1.4rem;
    margin: 5px;
    cursor: pointer;
}
.item_quantity{
    font-size: 1.4rem;
    text-align: center;
    width: 50px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
}
.item_note_header{
    font-size: 1.4rem;
    color: var(--text-color);    
}
.note_content{
    width: 100%;
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: var(--text-color);
}
.detail_product_btn{
    background-color: var(--main-color);
    color: var(--white-color);
}
.detail_product_btn:hover{
    background-color: var(--point-color);
}