<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>

    <link rel="stylesheet" href="/login/style.css">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" id="login-form">
                <input id="username" type="text" placeholder="Tên đăng nhập" required>
                <input id="password" type="password" placeholder="Mật khẩu" required>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
    </div>

    <script src="/login/main.js"></script>
</body>

</html>