.row .col-2 {
    padding-top: 16px;
}

.table-card {
    overflow: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.table-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15) !important;
}

/* Bàn đang có khách */
.table-card[data-status="occupied"] .card-header {
    background-color: #ff4f3e;
    border-bottom: 1px solid #e03e33;;
}

.table-card[data-status="occupied"] .card-header p,
.table-card[data-status="occupied"] .card-header i {
    color: white;
}

.table-card[data-status="occupied"] .card-body {
    background-color: #ffdcd9;
    color: #ff4f3e;
}

.table-card[data-status="occupied"]:hover .card-header {
    border: none;
}

/* Bàn trống */
.table-card[data-status="empty"] .card-header {
    background-color: #D4EDDA;
    border-bottom: 2px solid #c3e6cb;;
}

.table-card[data-status="empty"] .card-header p,
.table-card[data-status="empty"] .card-header i {
    color: #155724;
}

.table-card[data-status="empty"] .card-body {
    background-color: #E9ECEF;
    color: #6C757D;
}

.table-card[data-status="empty"]:hover .card-body {
    background-color: #c3e6cb;
    color: #155724;
}