.row .col-2 {
    padding-top: 16px;
}

ul.list-group p {
    margin: 0;
}

div.price p {
    margin-top: 24px;
}

.card .card-header {
    background: #999999;
}

.card .card-body {
    background: #D4D4D4;
}