<div class="sidebar-header px-4 py-3">
    <h4 class="mb-0"><i class="bi bi-shop-window me-2"></i>POS Admin</h4>
    <p class="small mt-2 mb-0">Xin chào, Admin!</p>
</div>
<ul class="nav nav-tabs flex-column">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#products">
            <i class="bi bi-box-seam-fill me-2"></i>Sản phẩm
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#invoice">
            <i class="bi bi-receipt me-2"></i>Hóa đơn
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#customer">
            <i class="bi bi-person me-2"></i>Khách hàng
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#account">
            <i class="bi bi-person-circle me-2"></i>Tài khoản
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#category">
            <i class="bi bi-tags me-2"></i>Phân loại
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#table">
            <i class="bi bi-layout-text-window me-2"></i>Bàn
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#discount">
            <i class="bi bi-percent me-2"></i>Khuyến mãi
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#statistical">
            <i class="bi bi-bar-chart-fill me-2"></i>Thống Kê
        </a>
    </li>
</ul>
<div class="sidebar-footer">
    <button class="btn py-3 w-100 d-flex align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="bi bi-box-arrow-right me-2"></i>Đăng xuất
    </button>
</div>