/* Logout Modal */
.modal-content {
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}

.modal-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.btn-primary:hover {
    background-color: #212529;
    border-color: #212529;
}

#confirmLogout {
    transition: all 0.3s ease;
}

#confirmLogout:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}