<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhan Vien / Chi Tiet Order</title>

    <!-- Bootstrap Libs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- My CSS -->
    <link rel="stylesheet" href="../css/chitiet.css">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-danger p-2">
        <a href="/nhanvien" class=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <p class="m-auto text-white">Chi Tiết Bàn <%= chiTietPageData.tableId %></p>
    </nav>

    <div class="container-fluid h-90">
        <div class="row h-100">
            <!-- Food List in DB -->
            <div class="col-6">
                <div class="row">
                    <% for (let i = 0; i < 10; i++) { %>
                    <div class="col-3 d-flex food-card-item">
                        <div class="card shadow-sm flex-fill">
                            <img class="card-img-top" src="../images/<%= chiTietPageData.dishes[i].hinh_anh %>">
                            <div class="card-body">
                                <p class="card-text m-0 text-center"><%= chiTietPageData.dishes[i].ten_mon_an %></p>
                                <p class="card-text m-0 text-center font-weight-bold"><%= Intl.NumberFormat('en-US').format(chiTietPageData.dishes[i].don_gia) %></p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>

            <!-- Orders  -->
            <div class="col-6">
                <div class="card h-100">
                    <!-- Card Header -->
                    <div class="card-header">
                        <h4>Thông Tin Đơn Hàng</h4>
                    </div>

                    <!-- Card Body -->
                    <div class="card-body p-0">
                        <ul class="list-group">
                            <!-- An Item  -->
                            <li class="list-group-item list-group-item-action">
                                <div class="row">
                                    <div class="col-4">
                                        <p class="font-weight-bold">Tra Dao</p>
                                        <p>25,000</p>
                                    </div>
                                    <div class="col-8 d-flex justify-content-between align-items-center">
                                        <a href="#" class="text-muted"><i class="fa fa-edit"></i></a>

                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="quantity-left-minus btn btn-outline-secondary btn-number" data-type="minus">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                            <input type="text" id="quantity" name="quantity" style="width: 25%;" class="input-number text-center" value="1" min="1" max="100">
                                            <button type="button" class="quantity-right-plus btn btn-outline-secondary btn-number" data-type="plus">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>

                                        <p class="font-weight-bold">25,000</p>
                                        <a href="#" class="text-muted">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer">
                        <div class="total text-right">
                            <p>Thành Tiền</p>
                            <p class="font-weight-bold text-success">25,000</p>
                        </div>

                        <div class="buttons d-flex">
                            <button type="button" class="btn btn-primary flex-grow-1 mr-1">Lưu</button>
                            <button type="button" class="btn btn-danger flex-grow-1 ml-1">Thanh Toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- My JS -->
    <script src="../js/chitiet_listorder.js"></script>
</body>

</html>